[Unit]
Description=Horde Scores
After=updateAll.service

[Service]
Type=simple
ExecStart=/root/horde/bash/hordeScore.sh
RestartSec=1
Restart=always

[Install]
WantedBy = multi-user.target