[Unit]
Description=Posts New Server Entrants to Google Sheet

[Service]
Type=simple
WorkingDirectory=/home/steam/pavlovserver
ExecStart=/root/horde/bash/postPlayersMonitor.sh
RestartSec=1
Restart=always
User=steam
Group=steam

[Install]
WantedBy = multi-user.target