[Unit]
Description=Update Pavlov Maps and Horde Scripts

[Service]
ExecStart=/root/horde/bash/updateAllRC.sh
Restart=always
RestartSec=6h

[Install]
WantedBy = multi-user.target