[Unit]
Description=Update Pavlov Maps and Game.ini

[Service]
Type=oneshot
WorkingDirectory=/home/steam/
ExecStart=/home/steam/horde/bash/updateAll.sh
User=root
Group=root

[Install]
WantedBy = multi-user.target