[Unit]
Description=Update Pavlov Maps and Horde Scripts

[Service]
ExecStart=/root/horde/bash/updateAll.sh
RestartSec="12 hours"

[Install]
WantedBy = multi-user.target